body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header{
  padding: 2em;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.side-bar{
  margin: 0;
  width: 20%;
  padding: 2em;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  list-style-type: none;
}

.product-container{
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: rgb(116, 17, 116);
  border-width: 4px;
}

.product-img{
  height: 10em;
  width: 10em;
}
